<h1>Flexible Payment</h1>

<p>
  A <%= @years %> year loan of <%= number_to_currency(@pv) %>, with an annual interest rate of <%= number_to_percentage((@basis_points/100).round(3)) %>, requires a monthly payment of <%= number_to_currency(@output) %>.
 </p>
