<form action="/square/results">
  <div>
    <label for="number_input">
      Enter a number
    </label>

    <input id="number_input" text="text" name="user_number" placeholder="What number do you want to square?">
  </div>

  <button>
    Calculate square
  </button>
</form>
